- content_for 'page_css' do
  :sass
    p.title
      margin: 10px 0 !important

    #content .form-area div.error-with-field
      input.textbox
        font-family: Georgia,Palatino,"Times New Roman",Times,serif
        font-size: 200%
        width: 100%

%h1= @reservation_subscriber.new_record? ? 'New Subscriber' : 'Edit Subscriber'

- form_for [:admin, @reservation_subscriber] do |f|
  .form-area
    %p.title
      %label User name
      = f.text_field :user_name, :class => 'textbox'
    %p.title
      %label Password
      = f.text_field :password, :class => 'textbox', :type => "password"
    %p.title
      %label First name
      = f.text_field :first_name, :class => 'textbox'
    %p.title
      %label Last name
      = f.text_field :last_name, :class => 'textbox'
    %p.title
      %label Phone number
      = f.text_field :phone, :class => 'textbox'
    %p.title
      %label E-Mail
      = f.text_field :email, :class => 'textbox'
    %p.title
      %label Addresse
      = f.text_area :address, :class => 'textbox'
    
  %p.buttons
    - button_text = @reservation_subscriber.new_record? ? 'Create' : 'Save Changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', admin_reservations_url
