- include_javascript 'admin/reservation'
- content_for 'page_css' do
  :sass
    p.new
      a
        color: #000
        border: 1px solid #ddf
        padding: 6px
        text-decoration: none
  
        &:hover
          background: #efefff
    p.title
      margin: 10px 0 !important

    #content 
      .form-area
        div.error-with-field
          input.textbox
            font-family: Georgia,Palatino,"Times New Roman",Times,serif
            font-size: 200%
            width: 100%
      table.index
        th
          font-weight: bold

%h1= @reservation_item.new_record? ? 'New Item' : 'Edit Item'

- form_for [:admin, @reservation_item] do |f|
  .form-area
    %p.title
      %label Name
      = f.text_field :name, :class => 'textbox'
    %p.title
      %label Description
      = f.text_area :description, :class => 'textbox'
  %p.buttons
    - button_text = @reservation_item.new_record? ? 'Create' : 'Save Changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', admin_reservations_url

%table#reservation_item.index{:summary => "Listing of Reservations"}
  %thead
    %tr 
      %th Subscriber
      %th From
      %th To
      %th Edit
  %tbody
    - if @reservation_item.reservations.empty?
      %tr
        %td.note{:colspan => 4} No reservations
    - else
      - @reservation_item.reservations.each do |reservation|
        %tr.node.level-1{:id => "reservation-#{reservation.id}"}
          %td.page
            %span.w1
              = link_to reservation.reservation_subscriber.first_name, edit_admin_reservation_url(reservation)
          %td.page
            %span
            = reservation.from.strftime("%d. %B %Y [%H:%m]")
          %td.page
            %span
            = reservation.to.strftime("%d. %B %Y [%H:%m]")
          %td.remove
            = link_to("#{image('minus.png')} Remove", admin_reservation_url(reservation), :method => :delete, :alt => 'remove item', :confirm => 'Are you sure? This will delete the reservation!')


%p.new= link_to 'New Reservation', :id => @reservation_item.id, :controller => 'reservations', :action => :new
